.button {
  display: block;
  width: 100%;
  max-width: 16em;
  padding: 0.625em 0.3125em;
  margin: 0 auto;
  overflow: hidden;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1em;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
  transition: background-color 0.5s ease, color 0.5s ease;

  &--inline {
    display: inline;
  }

  &--header {
    font-size: 2.25em;
    max-width: 4em;
    padding: 0.25em 0.25em;
  }

  &--buy {
    font-size: 2.25em;
    padding: 0.25em 0.25em;
    max-width: 7em;
  }

  &--inverted {
    color: #666;
    background-color: #eee;
  }

  &--disabled {
    color: #999;
    cursor: not-allowed;
    background-color: #eee;
    border-color: #eee;
  }

  &:hover {
    background-color: #333;
  }

  &--inverted:hover {
    color: #333;
    background-color: #ccc;
  }

  &--disabled:hover {
    background-color: #eee;
  }
}
