.text {
  &__p {
    margin-bottom: 1.5em;
  }

  &__q {
    margin-bottom: 1em;
    font-style: italic;
    font-weight: 600;
    font-size: 1.5em;
  }

  &--quote {
    margin-bottom: 1.5em;
    justify-content: center;
  }

    @media(min-width: 600px) {
      &--quote {
        float: right;
        justify-content: center;
        margin-top: 3em;
        margin-bottom: 2em;
      }
    }
}
