// breytur fyrir mikið notaðar stærðir
$max-width: 1200px;
$gutter: 20px;

/* setjum box-sizing: border-box; á allt */
html { /* stylelint-disable-line */
  box-sizing: border-box;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;

  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0;
}

html { /* stylelint-disable-line */
  // til þess að texti liggi ekki upp við brún á viewport þegar
  // við erum < 1200px breiðum skjá, setjum margin á báða kanta html
  // ruglar líka ekki í grid overlay
margin: 0;

  font-size: 16px;
  line-height: 1.5;

  font-family: 'Open Sans', sans-serif;

}

img { /* stylelint-disable-line */
  max-width: 100%;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  margin-right: $gutter;
  margin-left: $gutter;

  // þar sem við erum að eiga við neikvæð margin á grid, setjum overflow-x
  // hér sem hidden, þá fáum við ekki lárétta skrunstiku
  overflow-x: hidden;

  @media (min-width: $max-width) {
    margin: 0 auto;
  }
}

section {
    margin-bottom: $gutter*12.5;

    @media (max-width: 1199px) {
      margin-bottom: $gutter*3
    }
}

nav {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  /*padding: $gutter/2;*/
}

footer {
  background-color: #333;
}

@import "scss/grid";
@import "scss/header";
@import "scss/heading";
@import "scss/text";
@import "scss/button";
@import "scss/card";
@import "scss/cardlist";
@import "scss/nav";
@import "scss/menu";
@import "scss/profile";
@import "scss/buy";
@import "scss/footer"
