.card {
  display: flex;
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  overflow: hidden;
  flex-direction: column;
  background-color: #eee;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease;

  &--wide {
    @media (min-width: 600px) {
      flex-direction: row;

      .card__image {
        min-width: 400px;
      }

      .card__content {
        min-width: 0;
      }

      .card__img {
        height: 100%;
      }

      .button {
        display: inline-block;
      }
    }
  }

  &__heading {
    margin-bottom: 0.625em;
    font-family: Merriweather, georgia, serif;
    font-size: 1.5em;
  }

  &__content {
    padding: 0.9375em;
    justify-content: center;
    word-wrap: break-word;
  }

  &__text {
    margin-bottom: 1.875em;
  }

  &__image {
    min-width: 200px;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &:hover {
    background-color: #ddd;
  }
}
