.cardlist {
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }

  &__col {
    display: flex;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  @media (min-width: 600px) {
    &__col {
      width: 50%;
    }
  }
}
