.footer {
  max-width: $max-width;
  margin: 0;
  margin-right: $gutter;
  margin-left: $gutter;
  overflow-x: hidden;

  @media (min-width: 1200px) {
    margin: 0 auto;
  }

  &--info {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-right: -($gutter / 2);
    margin-bottom: $gutter;
    margin-left: -($gutter / 2);
    color: #eee;
    text-align: center;
    border-bottom: 2px solid #999;
  }

  &--copyright {
    padding-bottom: 1em;
    color: #8a8987;
    text-align: center;
  }
}
