.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -($gutter / 2);
  margin-bottom: $gutter;
  margin-left: -($gutter / 2);
}

// mixin sem reiknar nákvæmar prósentur útfrá dálkum
@mixin columns($col: 1) {
  // margföldum með "1%" til að breyta gildi í prósentu gildi
  width: ($col / 12 * 100) * 1%;
}

.col {
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
  display: flex;
  flex-direction: column;

  &-12 {
    @include columns(12);
  }

  &-11 {
    @include columns(11);
  }

  &-10 {
    @include columns(10);
  }

  &-8 {
    @include columns(8);
  }

  &-6 {
    @include columns(6);
  }

  &-4 {
    @include columns(4);
  }

  &-3 {
    @include columns(3);
  }

  &-1 {
    @include columns(1);
  }

  &-sm {
    @media (max-width: 1199px) {
      &-12 {
        @include columns(12);
      }

      &-10 {
        @include columns(10);
      }

      &-6 {
        @include columns(6);
      }

      &-2 {
        @include columns(2);
      }

      &-sm {
        @media (max-width: 599px) {
          &-12 {
            @include columns(12);
          }

          &-10 {
            @include columns(10);
          }

          &-6 {
            @include columns(6);
          }

          &-2 {
            @include columns(2);
          }
        }
      }

      // todo útfæra rest af sm grid
    }
  }

  &--radio_buttons {
    justify-content: space-around;
  }

  &--spacing {
    justify-content: space-around;
    margin-bottom: $gutter*3;

    @media(min-width: 1200px) {
      margin-bottom: 0;
    }
  }
}

@mixin offsetColumns($col: 0) {
  margin-left: ($col / 12 * 100) * 1%;
}

.offset {
  &-12 {
    @include offsetColumns(12);
  }

  &-9 {
    @include offsetColumns(9);
  }

  &-8 {
    @include offsetColumns(8);
  }

  &-7 {
    @include offsetColumns(7);
  }

  &-6 {
    @include offsetColumns(6);
  }

  &-4 {
    @include offsetColumns(4);
  }

  &-3 {
    @include offsetColumns(3);
  }

  &-2 {
    @include offsetColumns(2);
  }

  &-1 {
    @include offsetColumns(1);
  }

  &-sm {
    @media(max-width: 1199px) {
      &-8 {
        @include offsetColumns(8);
      }
      &-3 {
        @include offsetColumns(3);
      }
      &-2 {
        @include offsetColumns(2);
      }

      &-sm {
        @media (max-width: 599px) {
          &-8 {
            @include offsetColumns(8);
          }
          &-3 {
            @include offsetColumns(3);
          }
          &-2 {
            @include offsetColumns(2);
          }
          &-1 {
            @include offsetColumns(1);
          }
          &-0 {
            @include offsetColumns(0);
          }
        }
      }

    }
  }

}
