.heading {


  font-family: 'Roboto Slab', serif;
  border-bottom: 0;
  font-size: 1.3125em;

  &--buy {
    text-align: center;

    .button {

    }
  }

  &__header {
    opacity: 0;

    @keyframes appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &--one {
      animation: appear 1s ease-in 1s forwards;
      font-size: 1.5em;

      @media (min-width: 600px) {
        font-size: 2.25em;
      }
    }

    &--two {
      font-size: 3em;
      animation: appear 1s ease-in 2s forwards;

      @media (min-width: 600px) {
        font-size: 4.5em;
        margin-bottom: 1em;
      }
    }

    &--three {
      animation: appear 1s ease-in 3s forwards;
    }
  }
}
