.heading {

  font-family: "Roboto Slab", serif;
  font-size: 1.3125em;
  border-bottom: 0;

  &--buy {
    text-align: center;

    .button { /* stylelint-disable-line */

    }
  }

  &__header {
    opacity: 0;

    @keyframes appear {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    &--one {
      font-size: 1.5em;
      animation: appear 1s ease-in 1s forwards;

      @media (min-width: 600px) {
        font-size: 2.25em;
      }
    }

    &--two {
      font-size: 3em;
      animation: appear 1s ease-in 2s forwards;

      @media (min-width: 600px) {
        margin-bottom: 1em;
        font-size: 4.5em;
<<<<<<< HEAD
=======
      }

      @media (max-width: 599px) {
        margin-bottom: $gutter*4;
>>>>>>> 1de220dc9df4b946c3d8319cb09b8b9e119ff625
      }
    }

    &--three {
      animation: appear 1s ease-in 3s forwards;
    }
  }
}
