.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &--front_page {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin-bottom: $gutter*12.5;
    text-align: center;
    flex-direction: column;
    background: url("bg.jpg") fixed;
    background-position: 50% 50%;
    background-size: cover;
    justify-content: center;

    @media (max-width: 1199px) {
      margin-bottom: $gutter*4.5;
    }

    @media (max-width: 599px) {
      background-position: 5% 0;
      background-size: initial;
    }
  }

  &--buy_page {
    display: flex;
    width: 100%;
    min-height: 54vh;
    margin-bottom: $gutter*6.75;
    flex-direction: column;
    background: url("bg-subpage.jpg");
    background-position: 50% 50%;
    background-size: cover;
    justify-content: center;
  }

  .heading {
    font-size: 3.75em;
    color: #eee;
    word-wrap: break-word;

    @media (max-width: 1199px) {
      margin-right: $gutter;
      margin-left: $gutter;
    }
  }
}
