.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px $gutter;
  margin-right: -($gutter / 2);
  margin-left: -($gutter / 2);
  list-style: none;
  flex-wrap: wrap;

  @media (min-width: 1200px) {
    padding: $gutter/2 0;
  }

  &__item {
    width: (1 / 12 * 100) * 1%;
    height: 100%;
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;

    &--front_page {
      text-align: left;

      .front_page {
        font-size: 1.3125em;
        color: #eee;
        text-decoration: none;
      }
    }

    &--about {
      font-size: 1.125em;
      text-align: right;

      .about {
        color: #eee;
        text-decoration: none;
      }

      @media (max-width: 599px) {
        width: (3 / 12 * 100) * 1%;
        padding-right: $gutter;
      }
    }

    &--buy {
      .button {
        padding: 0.3em;
        font-size: 1.125em;
      }

      @media (max-width: 1199px) {
        width: (2 / 12 * 100) * 1%;
      }

      @media (max-width: 599px) {
        display: none;
      }
    }

  }
}
