.profile {
  margin-bottom: $gutter*2.5;
  text-align: center;
  justify-content: space-between;

  &--image {
    max-width: 80%;
    margin: 0 auto;
    border-radius: 50%;

    @media (max-width: 1199px) {
      max-width: 100%;
    }
  }

  &--quote {
    margin: 1em 0;
    font-size: 1.3125em;
    font-style: italic;
    font-weight: 600;
  }

  &--section {
    margin-bottom: 0;
  }

  &--name {
    font-size: 1.125em;
    font-weight: 600;
  }

  &--time {
    font-size: 0.875em;
    color: #8a8987;
  }
}
