.profile {
  text-align: center;
  justify-content: space-between;

  &--image {
    border-radius: 50%;
    max-width: 80%;
    margin: 0 auto;

    @media (max-width: 1199px) {
      max-width: 100%;
    }
  }

  &--quote {
    margin: 1em 0;
    font-style: italic;
    font-weight: 600;
    font-size: 1.3125em;
  }

  &--section {
    margin-bottom: 10em;
  }

  &--name {
    font-weight: 600;
    font-size: 1.125em;
  }

  &--time {
    color: #8a8987;
    font-size: 0.875em;
  }
}
